<h1>List of Guidelines</h1>

<div class="table table-body">
<div class="row">

    <% for (var i=0; i< guidelines.length; i++ ){%>
        <%= guidelines[i].title%><br/>
        <%= guidelines[i].value%>
    <%}%>
</div>
</div>